layout{
    focus-ring{
        active-gradient from="#80d4dbcc" to="#b7c7eacc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343a3b"
        urgent-color "#ffb4ab"
    }
}
